<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Angular JS tests</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href="angular-test.css" rel="stylesheet" media="screen">
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Find The Best</a>
				<form class="navbar-form pull-right">
					<button type="submit" class="btn btn-primary">Login with facebook</button>
				</form>
			</div>
		</div>
	</div>

	<div class="container">

		<hr/>

		<h2>AngularJS playground</h2>
		<h3>
			<a target="_blank" href="http://www.egghead.io/">
				Tutorial videos <i class="icon-external-link"></i>
			</a>
		</h3>

		<div ng-app="myApp">

			<hello></hello>

			<a class="btn" enter leave toggleclazz="btn-primary">
				Move mouse over here to change its class
			</a>

			<div ng-controller="MyController4">
				<a class="btn" enterapply="logSomething()">
					Move mouse over here to log something
				</a>
			</div>

			<hr>

			<div ng-controller="UsersController">
				Search (whatever): <input type="text" ng-model="searchText"><br>
				Search (only name): <input type="text" ng-model="search.name">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Surname</th>
							<th>Age</th>
						</tr>
					</thead>
					<tr ng-repeat="user in userData.users | filter:searchText | filter:search">
						<td>{{user.name}}</td>
						<td>{{user.surname}}</td>
						<td>{{user.age}}</td>
					</tr>
				</table>
			</div>

			<hr>

			<div ng-controller="MyController1">
				Input: <input type="text" ng-model="data.message" placeholder="Enter something here">
				Message as is: <b>{{data.message}}</b>
			</div>
			<div ng-controller="MyController2">
				Input: <input type="text" ng-model="data.message" placeholder="Enter something here">
				Reversed using function: <b>{{reverseMessage(data.message)}}</b> <!-- Using function -->
			</div>
			<div ng-controller="MyController3">
				Input: <input type="text" ng-model="data.message" placeholder="Enter something here">
				Reversed using filter: <b>{{data.message|reverse}}</b> <!-- Using filter -->
			</div>
		</div>

		<!-- In the examples, they put the scripts at the end like this -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script src="angular-coffee-test.js"></script>

	</div>

</body>
</html>